In [1]:
import spacy
import pandas as pd

In [2]:
nlp = spacy.load("en_core_web_lg")

In [3]:
doc1 = nlp(u'Hello hi there!')
doc2 = nlp(u'Hello hi there!')
doc3 = nlp(u'Hey whatsup?')

print(doc1.similarity(doc2)) # 0.999999954642
print(doc2.similarity(doc3)) # 0.699032527716
print(doc1.similarity(doc3)) # 0.699032527716

1.0
0.6990325806490502
0.6990325806490502

In [4]:
df = pd.read_csv('./dataset/meta.csv')
df.head(10)

,Unnamed: 0,language,title,content,description,provider_url,keywords,provider_display,provider_name,total_count,comment_count,share_count,reaction_count,reddit_upvotes,reddit_comments,date,title_len,content_len,description_len
0,0,en,Police: Couple charged after spending more tha...,"\n\n\nMONTOURSVILLE, Pa. (WNEP/CNN) - A couple...","MONTOURSVILLE, Pa. (WNEP/CNN) - A couple in Pe...",https://www.fox8live.com,"[{'score': 0, 'name': 'bank'}, {'score': 0, 'n...",fox8live.com,https://www.fox8live.com,998.0,399.0,178.0,421.0,6,24,2019-09-07,13,283,54
1,1,en,"Police: Couple spends more than $100,000 after...",\nA couple in Pennsylvania is facing felony th...,A couple in Pennsylvania is facing felony thef...,https://www.wtae.com,"[{'score': 0, 'name': 'khnd'}, {'score': 0, 'n...",wtae.com,WTAE,634.0,214.0,81.0,339.0,9,3,2019-09-07,13,341,82
2,2,NaN,Pennsylvania couple allegedly went on massive ...,\nA Pennsylvania couple is accused of theft af...,A Pennsylvania couple is accused of theft afte...,https://www.foxnews.com,[],foxnews.com,Fox News,5989.0,2618.0,655.0,2716.0,21,9,2019-09-08,15,166,66
3,3,NaN,Video sparks fears Hong Kong protesters being....,\n TAIPEI (Taiwan News) - A video that surface...,Video of Hong Kong protesters being loaded ont...,https://www.taiwannews.com.tw,[],taiwannews.com.tw,Taiwan News,1637.0,261.0,884.0,492.0,934,592,2019-11-17,10,490,54
4,4,en,woppa üéóüò∑ on Twitter,Arrested protesters are getting transported ou...,Arrested protesters are getting transported ou...,http://twitter.com,[],twitter.com,Twitter,126.0,16.0,35.0,75.0,0,0,2019-11-17,4,32,32
5,5,en,'Intolerably offensive': Boy's Nazi costume at...,\nA photo taken of a child wearing a Nazi cost...,The student wore a dark brown dress shirt tuck...,https://www.washingtonpost.com,[],washingtonpost.com,Washington Post,5520.0,1522.0,666.0,3328.0,0,0,2019-11-01,12,934,53
6,6,NaN,Utah elementary student wears Nazi costume in ...,\n The principal and a teacher at a Kaysville ...,The principal and a teacher at a Kaysville ele...,https://www.sltrib.com,[],sltrib.com,The Salt Lake Tribune,21632.0,5179.0,2450.0,14003.0,153,32,2019-11-01,16,217,65
7,7,en,"Principal, teacher suspended after student dre...",A Utah elementary school principal and teacher...,A Utah elementary school principal and teacher...,https://www.yahoo.com,[],yahoo.com,Yahoo,0.0,0.0,0.0,0.0,0,0,2019-11-05,10,26,26
8,8,en,Bellevue Police arrest 12 men in prostitution ...,"\nBELLEVUE, Wash. - Bellevue Police Department...","BELLEVUE, Wash. - Bellevue Police Department d...",https://q13fox.com,"[{'score': 0, 'name': 'crime'}, {'score': 0, '...",q13fox.com,Q13 FOX News,309.0,38.0,57.0,214.0,10,4,2019-11-13,8,384,52
9,9,en,Seattle police captain arrested in undercover ...,\nA 31-year veteran Seattle Police Department ...,A 31-year veteran Seattle Police Department ca...,https://www.kiro7.com,"[{'score': 0, 'name': 'local'}, {'score': 0, '...",kiro7.com,KIRO,5451.0,1281.0,828.0,3342.0,167,42,2019-11-14,8,120,55

In [5]:
import numpy as np
df['text'] = df['title'] +df['date']+df['description']+df['content']
j=0
for title in df['text']:
    t1 = nlp(title)
    
    idx = None
    idlist = list()
    
    maxi = 0.95
    i = 0
    for another_title in df['text']:
        t2 = nlp(another_title)
        if maxi < t1.similarity(t2) and t1.similarity(t2) != 1.0:
            maxi = t1.similarity(t2)
            idx = i
        i+=1
    allowed_dev = 0.99*maxi if maxi is not None else -np.inf
    i = 0
    for another_title in df['text']:
        t2 = nlp(another_title)
        if allowed_dev < t1.similarity(t2) and t1.similarity(t2) != 1.0:
#             maxi = t1.similarity(t2)
            idlist += [i]
        i+=1
    
    print("actual : ",df['title'][j])
    if idx is not None:
        print("closest : ",df['title'][idx])
    for temp in idlist:
        if temp is not idx:
            print("Others : ",df['title'][temp])
    print("\n")
    j+=1

actual :  Police: Couple charged after spending more than $100K the bank accidentally gave them
closest :  Police: Couple spends more than $100,000 after bank accidentally deposits money in account
Others :  Pennsylvania couple allegedly went on massive spending spree after $120G mistakenly added to bank account


actual :  Police: Couple spends more than $100,000 after bank accidentally deposits money in account
closest :  Police: Couple charged after spending more than $100K the bank accidentally gave them
Others :  Pennsylvania couple allegedly went on massive spending spree after $120G mistakenly added to bank account


actual :  Pennsylvania couple allegedly went on massive spending spree after $120G mistakenly added to bank account
closest :  Police: Couple spends more than $100,000 after bank accidentally deposits money in account
Others :  Police: Couple charged after spending more than $100K the bank accidentally gave them


actual :  Video sparks fears Hong Kong protesters being... | Taiwan News
closest :  Bellevue Police arrest 12 men in prostitution sting
Others :  woppa üéóüò∑ on Twitter
Others :  'Intolerably offensive': Boy's Nazi costume at elementary school Halloween parade sparks outrage
Others :  UVA reinstates 21-gun salute on Veterans Day after wide-scale backlash
Others :  Citing 'gun violence,' UVA cancels 21-gun salute portion of Veterans Day ceremony | The College Fix
Others :  University of Virginia Cancels 21-Gun Salute to Appease Snowflake Students


actual :  woppa üéóüò∑ on Twitter
closest :  Video sparks fears Hong Kong protesters being... | Taiwan News


actual :  'Intolerably offensive': Boy's Nazi costume at elementary school Halloween parade sparks outrage
closest :  Utah elementary student wears Nazi costume in Halloween parade. The principal and teacher are now suspended.
Others :  Citing 'gun violence,' UVA cancels 21-gun salute portion of Veterans Day ceremony | The College Fix
Others :  University of Virginia Cancels 21-Gun Salute to Appease Snowflake Students


actual :  Utah elementary student wears Nazi costume in Halloween parade. The principal and teacher are now suspended.
closest :  'Intolerably offensive': Boy's Nazi costume at elementary school Halloween parade sparks outrage


actual :  Principal, teacher suspended after student dresses as Hitler in parade
closest :  Utah elementary student wears Nazi costume in Halloween parade. The principal and teacher are now suspended.


actual :  Bellevue Police arrest 12 men in prostitution sting
closest :  Seattle police captain arrested in his own departments' prostitution sting - Law Officer


actual :  Seattle police captain arrested in undercover vice operation
closest :  Seattle police captain arrested in undercover prostitution sting
Others :  Seattle police captain arrested in prostitution bust


actual :  Seattle police captain arrested in undercover prostitution sting
closest :  Seattle police captain arrested in undercover vice operation
Others :  Seattle police captain arrested in prostitution bust
Others :  Seattle police captain arrested in his own departments' prostitution sting - Law Officer


actual :  Seattle police captain arrested in prostitution bust
closest :  Seattle police captain arrested in undercover prostitution sting
Others :  Seattle police captain arrested in undercover vice operation
Others :  Seattle police captain arrested in his own departments' prostitution sting - Law Officer


actual :  Seattle police captain arrested in his own departments' prostitution sting - Law Officer
closest :  Seattle police captain arrested in prostitution bust
Others :  Bellevue Police arrest 12 men in prostitution sting
Others :  Seattle police captain arrested in undercover vice operation
Others :  Seattle police captain arrested in undercover prostitution sting


actual :  Êµ∑Âè£‰π¶ËÆ∞ÈÅ≠ÊäÑÁé∞Èáë13.5Âê® Â∏êÈù¢2680‰∫ø ÈªÑÈáëÊª°Â±ã


actual :  Áå™Ë°ÄÊóó‰∏ã on Twitter


actual :  UVA reinstates 21-gun salute on Veterans Day after wide-scale backlash
closest :  Citing 'gun violence,' UVA cancels 21-gun salute portion of Veterans Day ceremony | The College Fix
Others :  University of Virginia Cancels 21-Gun Salute to Appease Snowflake Students


actual :  Citing 'gun violence,' UVA cancels 21-gun salute portion of Veterans Day ceremony | The College Fix
closest :  University of Virginia Cancels 21-Gun Salute to Appease Snowflake Students
Others :  UVA reinstates 21-gun salute on Veterans Day after wide-scale backlash


actual :  University of Virginia Cancels 21-Gun Salute to Appease Snowflake Students
closest :  Citing 'gun violence,' UVA cancels 21-gun salute portion of Veterans Day ceremony | The College Fix